<div class="flex gap-2 items-center justify-center items-center">
  <span class="text-lg dark:text-white text-gray-900">My Favorite Products</span>
</div>

<%= render 'products/product_cards_grid', products: @products, current_user: @current_user %>
