<div class="grid md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 grid-cols-1 gap-4 p-8">
  <% products.each do |product| %>
    <%= render 'products/product_card', product: product  %>
  <% end %>
</div>
